<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Process</title>
</head>
<body>
<form action="#" method="post" th:action="@{/}">
    <label for="name">Name:</label><br>
    <input id="name" th:field="*{form.name}" type="text"><br>
    <label for="descr">Descr:</label><br>
    <input id="descr" th:field="*{form.descr}" type="text"><br>
    <label for="start">Start:</label><br>
    <input id="start" th:field="*{form.start}" th:max="*{formParams.maxStart}" th:min="*{formParams.minStart}"
           type="number"><br>
    <label for="count">Count:</label><br>
    <input id="count" th:field="*{form.count}" th:max="*{formParams.maxCount}" th:min="*{formParams.minCount}"
           type="number"><br><br>
    <input type="submit" value="Submit">
    <p th:text="*{status}"></p>
</form>
</body>
</html>